@keyframes hover{
    0%{
        color: rgba(30, 143, 255, 0);
    }
    25%{
        color: rgba(30, 143, 255, 0.200);
    }
    50%{
        color: rgba(30, 143, 255, 0.400);
    }
    75%{
        color: rgba(30, 143, 255, 0.600);
    }
    100%{
        color: rgba(30, 143, 255, 0.800);
    }
}

@keyframes indicator{
    from{
        margin-left: -2vw;
    }
    to{
        margin-left: -2.3vw;
    }
}