@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500&display=swap');

body{
    font-family: 'Noto Sans TC', sans-serif;
}

div.gateWay > .house > a > h1{
    font-weight: 500;
    font-size: 4rem;
}

@media (max-width: 1300px){
    div.gateWay > .house > a > h1{
        -webkit-text-stroke: 1.5px #222;
        font-size: 3rem;
        top: 30vh;
    }
}