/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500&display=swap');

/*animations*/
@keyframes indicator{
    from{
        margin-left: -2vw;
    }
    to{
        margin-left: -2.3vw;
    }
}

@keyframes warmup{
    0%{
        filter: grayscale(50%);
    }
    20%{
        filter: grayscale(40%);
    }
    40%{
        filter: grayscale(30%);
    }
    60%{
        filter: grayscale(20%);
    }
    80%{
        filter: grayscale(10%);
    }
    100%{
        filter: none;
    }
}

body{
    font-family: 'Noto Sans TC', sans-serif;
}

a{
    cursor: pointer;
}

.map{
    border: 2px solid #222;
}

.map > a > img{
    max-width: 100%;
}

.default-cursor{
    cursor: default;
}

.placeHolder{
    width: 50%
}

.placeHolder > img{
    max-width: 100%;
}

.centered{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.for_center{
    position: relative;
}

.font-color{
    color: #222;
}

div.warp{
    margin-top: 5vh;
    display: flex;
}

.info{
    float: right;
    font-size: 2rem;
    margin-bottom: 2vh;
    padding: 0.5vw;
}

.map > iframe{
    width: 100%;
    height: 35vh;
}

.houseFlat{
    display: inline-table;
    margin: 0 5vw;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 0 1% 1% 1%;
    border-radius: 10px;    
}

.houseFlat > div{
    position: relative;
}

.houseFlat > div > img{
    max-width: 100%;
}

.rooms{
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 0 1% 1% 1%;
    margin-right: 2vw;
}

/*Bottons*/

.img_preview{
    /* border: 1px solid gold; */
    border-radius: 10px;
    width: 75%;
    margin: 5vh auto;
    padding: 1vw 2vw 2vw 2vw;
    background-color: rgba(255, 255, 255, 0.8);
}

.btn{
    border: 1px solid #222;
    font-family: 'Noto Sans TC', sans-serif;
    width: 12.3vw;
    height: 19vh;
    font-size: 2vw;
    background: none;
    cursor: pointer;
    display: inline-block;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
    padding: 0;
}

.btn > img{
    width: 13vw;
    height: 18.8vh;
    filter: contrast(70%);
    object-fit: cover;
    transition: all 0s ease-in-out;
}

.btn:focus{
    outline: none;
}

.btn:hover img{
    filter: contrast(100%);
}

/*PopUp*/
#dialog{
    display: none;
    background-color: rgba(34, 34, 34, 0.900);
    width: 101vw;
    height: 101vh;
    top: 50%;    
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    z-index: 2;
}

.close{
    background: none;
    border: 2px solid #fff;
    border-radius: 50px;
    font-size: x-large;
    color: white;
    float: right;
    margin: 1.5vw;
    cursor: pointer;
}

.close:focus{
    outline: none;
}

.close:hover{
    border: 2px solid dodgerblue;
    color: dodgerblue;
}

.clear{
    clear: both;
}

.photos > img{
    max-width: 700px;
    transition: 0.5s ease-in-out;
}

#directionControl{
    position: absolute;
    list-style: none;
    display: flex;
    justify-content: space-between;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 90vw;
    padding: 0;
}

#left, #right{
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 50%;
    width: 25px;
    padding: 0.5%;
    cursor: pointer;
    opacity: .5;
}

#left:hover{
    background-color: rgba(0, 0, 0, 0.9);
    opacity: 1;
}

#left::after{
    content: '◀';
    margin-left: 2px;
}

#right:hover{
    background-color: rgba(0, 0, 0, 0.9);
    opacity: 1;
}

#right::after{
    content: '▶';
    margin-left: 4.5px;
}

.hint{
    height: 3vh;
    padding: 0.5vw;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #222;
    z-index: 2;
    margin:2vh  auto 0 2vw;
}

/*RWD*/
@media(max-width: 1350px){
    .btn{
        height: 17vh;
    }
}

@media(max-width: 1250px){
    .houseFlat{
        margin: 0 2vw;
    }
    
    .img_preview{
        width: 90%;
    }

    .btn{
        width: 14.5vw;
    }

    .btn > img{
        width: 15vw;
        height: 17vh;
    }
}

@media(max-width: 1000px){
    nav > a > h1{
        white-space: nowrap;
    }

    .houseFlat{
        margin-bottom: 3vh;
    }

    .warp{
        flex-direction: column;
    }

    .rooms{
        margin: 0 5vw 0 5vw;
    }

    .img_preview, .preview_NQ{
        margin: 3vw auto;
        width: auto;
    }

    .btnImg{
        display: flex;
        flex-wrap: wrap;
    }

    .btnImg > a{
        flex: 1 0 20%;
    }

    .btn{
        width: 15.5vw;
    }

    .roomA > a:nth-child(11) > .btn > img{
        height: auto;
    }

    .roomA > a:last-child > .btn > img{
        height: auto;
    }

    footer > .contact{
        margin-left: 0;
    }

    footer > span{
        margin-right: 20vw;
    }
}

@media(max-width: 850px){
    .btn{
        width: 18.5vw;
    }

    .photos > img{
        max-width: 650px;
    }
}

@media(max-width: 703px){
    header{
        flex-direction: column;
    }
    header > nav{
        margin: 10px 0 0 16vw;
    }

    nav > a {
        margin-top: 0;
    }

    .btnImg > a{
        flex: 1 0 30%;
    }

    .btn{
        height: 14vh;
    }

    .roomB > a:last-child > .btn > img{
        height: auto;
    }

    footer{
        flex-direction: column;
    }

    footer > .contact{
        margin-left: 0;
    }

    footer > span{
        margin-left: 8vw;
    } 
}

@media(max-width: 670px){
    .btn{
        width: 31.5vw;
        height: 14.5vh;
    }

    .enlarge > img{
        max-width: 100% !important;
    } 
}