/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500&display=swap');

body{
    font-family: 'Noto Sans TC', sans-serif;
}

a{
    cursor: pointer;
}

.map{
    border: 2px solid #222;
}

.default-cursor{
    cursor: default;
}

.placeHolder{
    width: 50%
}

.placeHolder > img{
    max-width: 100%;
}

.centered{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.for_center{
    position: relative;
}

.font-color{
    color: #222;
}

div.gateWay > .house > a > h1{
    font-weight: 500;
    font-size: 4rem;
}

@media (max-width: 1300px){
    div.gateWay > .house > a > h1{
        -webkit-text-stroke: 1.5px #222;
        font-size: 3rem;
        top: 30vh;
    }
}

/*Bottons*/

.img_preview, .preview_NQ{
    /* border: 1px solid gold; */
    border-radius: 10px;
    width: 75%;
    margin: 5vh auto;
    padding: 2vw;
    background-color: rgba(255, 255, 255, 0.8);
}

.btn{
    border: 1px solid #222;
    font-family: 'Noto Sans TC', sans-serif;
    width: 12vw;
    height: 15vh;
    font-size: 2vw;
    background: none;
    cursor: pointer;
    display: inline-block;
}

.btn > img{
    filter: contrast(70%);
}

.btn:focus{
    outline: none;
}

.btn:hover img{
    filter: contrast(100%);
    border: 1px solid #fff;
}

a > .btn{
    overflow: hidden;
}

.btn > img{
    width: 100%;
    height: auto;
}
