@keyframes rotate{
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(359deg);
    }
}

@keyframes hover{
    0%{
        border: 1px solid rgba(30, 143, 255, 0);
    }
    25%{
        border: 1px solid rgba(30, 143, 255, 0.200);
    }
    50%{
        border: 1px solid rgba(30, 143, 255, 0.400);
    }
    75%{
        border: 2px solid rgba(30, 143, 255, 0.600);
    }
    100%{
        border: 2px solid rgba(30, 143, 255, 0.800);
    }
}

header{
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    background-image: url("../images/test.png");
    background-size: contain;
}

div.logo{
    border: 1px solid blue;
    display: inline-block;
    margin-top: auto;
}

div.logo > img{
    max-width: 100%;
    padding-top: 3vh;
    padding-left: 2vw;
}

nav{
    border: 1px solid purple;
    display: flex;
    margin: 0 auto;
}

nav > div.button{
    border: 1px solid blue;
    height: 5vh;
    display: inline-block;
    margin-top: auto;
    margin-left: 3vw;
}

div.button > a{
    width: 5vw;
    text-decoration: none;
    border: 1px solid orange;
    /* position: relative; */
}

div.button > a > h1{
    margin: 0;
    color: #222;
    top: 50%;
    left: 50%;
    transform: translate(0%, -50%);
    /* position: absolute; */
}

div.button > a:hover h1{
    color: deepskyblue;
    animation: hover 2s ease-in-out infinite alternate;
    border-radius: 5%;
}

div.clock{
    border: 1px solid palevioletred;
    overflow: hidden;
    margin-left: auto;
}

div.clock > img{
    max-width: 100%;
    margin-top: -30%;
    margin-left: 30%;
    animation: rotate 5s infinite linear;
}

div.clear{
    clear: both;
}