body{
    margin: 0;
    padding: 0;
    position: relative;
    /* background: linear-gradient(to top, rgb(210, 237, 245) 10%, white 100%); */
    background-image: url("../images/house_JS_background.jpg");
    width: 100%;
    height: 100vh;
}

div.banner{
    background-image: url("../images/house_JS08.jpg");
    width: 100%;
    height: 30vh;
    background-size: cover;
    background-position: center;
}

nav > a:first-child::before{
    content: url("../images/indicatior_arrow.png");
    float: left;
    margin-top: 0.5vh;
    animation: indicator 0.5s ease-in-out infinite alternate;
}

div.warp{
    margin-top: 5vh;
    display: flex;
}

aside.rooms{
    padding: 0 2vw 0 0;
}

aside.rooms main.houseFlat h1::before{ /*need for alteration*/
    content: url("../images/house_icon.png");
}

aside.rooms > ul > li{
    list-style: none;
    margin: 2vh 0;
}

.info{
    float: right;
    font-size: 2rem;
    margin-bottom: 2vh;
}

.map > iframe{
    width: 100%;
    height: 30vh;
}

main.houseFlat{
    margin: 0 0 0 5vw;
}

main.houseFlat > div{
    width: 80%;
    position: relative;
}

main.houseFlat > div > img{
    max-width: 100%;
}