body{
    background-image: url("../images/house_JS_placeHolder.png");
    background-size: contain;
}

div.banner{
    background-image: url("../images/house_NQ1.jpg");
}

nav > a:last-child{
    background-color: rgba(0, 0, 0, 0.7);
}

nav > a:last-child > h1{
    color: deepskyblue;
}

nav > a:last-child::before{
    content: url("../images/indicatior_arrow.png");
    float: left;
    margin-top: 0.7vh;
    animation: indicator 0.5s ease-in-out infinite alternate;
}

.flower{
    position: absolute;
    z-index: -1;
    width: 50%;
}

.flower > img{
    max-width: 100%;
}

.rose{
    position: relative;
    float: right;
    margin-top: -100vh;
}

.clear{
    clear: both;
}

@media(max-width: 1250px){
    nav > a:last-child::before{
        margin-right: -5vw;
    }
}

@media(max-width: 1000px){
    nav > a:last-child > h1{
        margin-left: 16px;
    }
}