body{
    margin: 0;
    padding: 0;
    position: relative;
    background-image: url("../images/house_JS_background.jpg");
    background-size: cover;
    width: 100%;
    height: 100vh;
}

div.banner{
    background-image: url("../images/house_JS08.jpg");
    width: 100%;
    height: 30vh;
    background-size: cover;
    background-position: center;
}

nav > a:first-child::before{
    content: url("../images/indicatior_arrow.png");
    float: left;
    margin-top: 1.2vh;
    animation: indicator 0.5s ease-in-out infinite alternate;
}