#dialog{
    /* display: none; */
    background-color: rgba(34, 34, 34, 0.900);
    width: 100%;
    height: 100vh;
    top: 50%;    
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    z-index: 2;
}

.close{
    background: none;
    border: 1px solid #fff;
    border-radius: 50px;
    color: white;
    float: right;
    margin: 2vw;
    cursor: pointer;
}

.close:focus{
    outline: none;
}

.close:hover{
    border: 1px solid dodgerblue;
    color: dodgerblue;
}

.photos{
    display: flex;
    justify-content: center;
}

h1{
    padding: 0.5vw;
    background-color: rgba(255, 255, 255, 0.8);
}

.photos > img{
    max-width: 50%;
}
.clear{
    clear: both;
}

.arrow{
    margin-top: 50vh;
    cursor: pointer;
}

.toleft{
    transform: rotate(180deg);
    margin-left: 4vw
}

.toright{
    margin-left: auto;
}

.slider{
    display: none;
}

.hint{
    height: 3vh;
    padding: 0.5vw;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #222;
    z-index: 2;
    margin:2vh  auto 0 2vw;
}