#dialog{
    display: none;
    background-color: rgba(34, 34, 34, 0.900);
    width: 100%;
    height: 100%;
    top: 50%;    
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 2;
}

.close{
    float: right;
    margin: 2vw;
}

.popup{
    display: inline-block;
}

.photos{
    width: 35%;
    margin-left: 5vw;
    color: white;
}

.info{
    color: white;
    float: right;
    margin: -84vh 45vw 0 0;
    font-size: 2rem;
}

h1{
    border-bottom-style: dashed;
}

.photos > img{
    max-width: 100%;
}
.clear{
    clear: both;
}